<!doctype html>
{% load static %}
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href='{% static "blog/css/bootstrap.min.css" %}'>
		<link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
		<title>{{ title }}</title>
	</head>
	<body style="background-color: antiquewhite">
        {% block navi %}
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
			<a href="#" class="navbar-brand">
				<img src="{% static 'blog/img/Python-logo-notext.svg' %}" width="30" height="30" alt="logo">
			</a>
			<a href="#" class="navbar-brand">
				<img src="{% static 'blog/img/Nuxt_logo.svg' %}" width="30" height="30" alt="logo">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					{% for item in menu %}
						<li class="nav-item active">
							<a href='{% url item.url_name %}' class="nav-link">{{ item.title }}</a>
						</li>
					{% endfor %}
				</ul>
				<form action="" class="form-inline my-2 my-lg-0">
					<input type="text" class="form-control mr-sm-2" placeholder="Поиск" aria-label="Поиск">
					<button class="btn btn-outline-success my-2 my-sm-0 mr-2" type="submit">Поиск</button>
				</form>
				{% for item in login_menu %}
				<a href="{% url item.url_name %}" class="btn btn-outline-light mr-2">{{ item.title }}</a>
				{% endfor %}
			</div>
		</nav>
        {% endblock %}



		{% block content %}
        {% endblock %}

        {% block footer %}
		<footer class="footer">
			<div class="container">
				<p class="float-right">
					<a href="#">Наверх</a>
				</p>
				<span class="text-muted">Агентство по разработке потрясных сайтов на bootstrap, drf и nuxtJS. А это просто наш блог.</span>
			</div>
		</footer>
        {% endblock %}

		<script src="{% static 'blog/js/jquery-3.5.1.slim.min.js' %}" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="{% static 'blog/js/bootstrap.bundle.min.js' %}" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

	</body>
</html>